export PROJECT_ROOT=$(pwd)
export APISERVER_PORT=5015
export APISERVER_HOST=localhost
export DB_NAME=mydb
export DB_HOST=127.0.0.1
export DB_USER=postgres
export DB_PASSWORD=1234
export DB_PORT=5434
export DB_PORT_TEST=5435


DATABASE_URL=postgres://user:pass@localhost:5432/dbname?sslmode=disable

export TEST_DATABASE_URL="postgres://$DB_USER:$DB_PASSWORD@localhost:$DB_PORT_TEST/$DB_NAME?sslmode=disable"
export JWT_SECRET=supersecret

export AWS_ACCESS_KEY_ID=dummy
export AWS_SECRET_ACCESS_KEY=dummy
export AWS_DEFAULT_REGION=us-west-2
export SQS_QUEUE=reports-sqs-queue
export S3_BUCKET=api-reports
export S3_LOCALSTACK_ENDPOINT=http://s3.localhost.localstack.cloud:4566
export LOCALSTACK_ENDPOINT=http://localhost:4566

export TF_VAR_aws_access_key_id=${AWS_ACCESS_KEY_ID}
export TF_VAR_aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
export TF_VAR_aws_default_region=${AWS_DEFAULT_REGION}
export TF_VAR_sqs_queue=${SQS_QUEUE}
export TF_VAR_s3_bucket=${S3_BUCKET}
export TF_VAR_s3_localstack_endpoint=${S3_LOCALSTACK_ENDPOINT}
export TR_VAR_localstack_endpoint=${LOCALSTACK_ENDPOINT}
